<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title><%= diaryContent[0].title %></title>
  </head>
  <body class="singleDiary_body">
    <h1 style="font-family: 'Courier New', Courier, monospace">
      <%= diaryContent[0].title %>
    </h1>
    <% if (image) { %> <% image = image.toString("base64"); %>
    <br />
    <img src="data:image/jpg;base64,<%= image %>" class="single_image" />
    <% } else { %> <% } %>
    <br />
    <p style="font-family: 'Courier New', Courier, monospace">
      <%= diaryContent[0].content_desc %>
    </p>
    <br />
    <% var get_weekday = { weekday: "long", }; var options = { year: "numeric",
    month: "short", day: "2-digit", }; %>
    <p
      style="
        text-align: right;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
      "
    >
      <%= diaryContent[0].created.toLocaleDateString( "en-GB", get_weekday
      ).concat(", ", diaryContent[0].created.toLocaleDateString( "en-GB",
      options )) %>
    </p>
    <div style="display: flex; justify-content: space-between">
      <a href="/diary">Back</a>
      <form
        action="/diary/<%= diaryContent[0].id %>/delete"
        method="post"
        style="padding-left: 83%"
      >
        <button type="submit">Delete note</button>
      </form>
      <form>
        <button>
          <a
            href="/diary/<%= diaryContent[0].id %>/edit"
            style="text-decoration: none; color: black"
            >Update diary</a
          >
        </button>
      </form>
    </div>
  </body>
</html>
